body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-size: 1.25em;
}

*:before,
*:after,
body>* {
    box-sizing: inherit;
}

body>* {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border: 1px solid #bababa;
}

.logo {
    background-color: #1c1c1c;
    padding-bottom: 0%;
    width: 100%;
}

.logo img {
    width: 8%;
    display: block;
    max-width: 100%;
    background-color: inherit;
}

input,
textarea {
    font-size: 1.0em;
}

.content {
    min-height: 1100px;
    padding: 0% 5%;
}

.options,
.output,
.town-desc {
    min-height: 50px;
    padding: 0%;
    width: 350px;
}

ul.no-bullet li {
    list-style-type: none;
}

div.sponsors img {
    max-height: 100px;
}

.options .margin * {
    margin-left: 4.5px;
}

.options .margin .container {
    margin-left: 0;
}

.footer {
    font-size: x-small;
    color: white;
    text-align: center;
}

.footer p {
    width: 75%;
    max-width: 450px;
}

p.small {
    font-size: smaller;
}

button,
input {
    margin: 1%;
    padding: 0%;
    font: inherit;
    color: inherit;
}

select {
    height: 2.0em;
    margin: 1%;
    padding: 0%;
    color: inherit;
}

select.in-table {
    width: 200px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1.0em;
    height: 1.0em;
}

input[type="number"],
input[type="text"] {
    width: 15em;
    font-size: 50%;
}

h1,
h2,
h3,
p {
    white-space: normal;
    margin: 0%;
}

h2,
h3 {
    margin-bottom: 0%;
    font-size: 1.2em;
    font-weight: bold;
}

.injection {
    font-size: 0.7em;
}

.nowrap {
    white-space: nowrap;
}

span {
    font-size: smaller;
    white-space: nowrap;
}

.route-box {
    border-left: 5px solid #ffffff;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.route-box>* {
    font-size: smaller;
    white-space: normal;
}

.route-box>span.line {
    font-size: medium;
    padding: 2px;
}

.route-box span.station {
    font-size: large;
    padding: 2px;

    background-color: rgb(0, 64, 109);
    color: white;
}

.outpost {
    background-color: rgb(128, 128, 255);
}

.old-spawn {
    background-color: rgb(255, 128, 128);
}

.new-spawn {
    background-color: rgb(255, 255, 128);
}

::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #d5d5d5;
}

::-webkit-scrollbar-thumb:hover::-webkit-scrollbar {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}

::-webkit-scrollbar-thumb:active {
    background-color: #3c3c3c;
}
